<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      @for (media of media_items; track media.id) {
      <div class="card">
        <div class="card-header">ID: {{ media.id }}</div>
        <div class="card-body">
          Description: {{ media.description.$content }}
        </div>
        <div class="card-body">
          <img
            [src]="
              'https://cnativeblobmedia.blob.core.windows.net' + media.filePath
            "
            style="height: 200px"
          />
        </div>
        <div class="card-footer">Category: {{ media.category.$content }}</div>
      </div>
      }
    </div>
  </div>
</div>
